.carousel-item{
$carousel-control-width:             15%;

}
.pics{
    width: 600px;
    float: center;
    position: relative;
    object-fit: cover;
}

nav{
            margin:5px;
            text-align: center;
            font-size:30px;
            line-height: 10px;
            border:solid 1px black;
            background-color: white;
        }
        nav{
        position:sticky;
}